html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.col:empty, [class^=col-]:empty { display: none; }



/* eastern custom styling below */

/* for the carousel on the index page with a gray background */
.carousel-caption {
    background: rgba(113, 113, 114, 0.8);
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    right: 20%;
    position:absolute;
    top: unset;
    bottom:10%;
    left: 20%;
}

/* resize the caroussel caption to a bit lower for the h1 caption */
.carousel-caption h1 {
    font-size: 2.0rem;
    font-weight: bold;

}

/* custom font size for the h1 h2 and h3 blocks in the blog and content */
.content > h1 {
    font-weight:  bold;
    font-size: 1.5rem;
}

.content > h2 {
    font-weight: bold;
    font-size: 1.4rem;
}

.content > h3 {
    font-weight:  bold;
    font-size: 1.3rem;
}

.content img {
    max-width: 100%; /* resize automatically if image bigger than content space */
    height: auto;
}

/* end of eastern */

blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);
}

.quote-box{
    overflow: hidden;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
    margin-top: 25px;
    color:black;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    bottom:10%;
    left: 20%;
}

.quotation-mark{


    font-weight: bold;
    font-size: 5rem;
    color: black;
    font-family: "Times New Roman", Georgia, Serif;

}

.quote-text{

    font-size: 1.5rem;
    margin-top: -65px;
}